{% extends 'base.html' %}
{% block content %}
<h2>Student Registration</h2>
<form method="POST">
    <label>Email Address</label>
    <input type="email" name="email" placeholder="example@university.edu" required>
    
    <label>Password</label>
    <input type="password" name="password" placeholder="Create a strong password" required>
    
    <button type="submit">Sign Up</button>
</form>
<div class="footer-text">Already have an account? <a href="{{ url_for('login') }}">Log in here</a>.</div>
{% endblock %}
